.paymentDetails {
  float: left;

  h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10rem;
  }

  .group {
    margin: auto;
    display: block;
    width: 50%;

    .payment {
      margin-top: 0;

      Button {
        margin-top: 2rem;
        margin-bottom: 5rem;
      }
    }
  }
}
