.paymentDetails {
  float: left;

  h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
  }

  .group {
    margin-top: 0;
    margin: 2rem;
    display: inline-block;
    width: 25%;

    .payment {
      margin-top: 0;

      Button {
        margin-top: 24rem;
      }
    }
  }
}
