.formRow {
  display: inline-block;
  width: 100%;

  label {
    display: block;
    width: 100%;
    text-align: center;
  }

  .formSelect {
    display: block;
    width: auto;
    float: left;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;

    margin: 10px auto;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
