.authWrapper {
  display: block;
  width: 40vw;
  top: 20%;
  left: 30%;
  position: absolute;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1rem;

  .wrap {
    padding: 50px;

    h2 {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0 auto 3rem;
    }
  }
}

@media (max-width: 769px) {
  .authWrapper {
    width: 100vw;
    margin-left: 0;
    left: 0;
  }
}
