.products {
  display: block;
  width: 100%;

  h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 8rem;
  }

  .productResults {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem -10px 0;
  }
}

.product {
  width: 20%;
  margin: 0 auto 2rem;
  padding: 5px 10px;

  .thumb {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
      margin: 0;
      height: 250px;
    }
  }

  .details {
    display: block;
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;

    ul,
    ul li {
      padding: 0;
      margin: 0;
    }

    ul {
      li {
        display: block;
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 0 0.5rem;
        text-transform: uppercase;

        a {
          color: black;
        }

        .name {
          font-weight: bold;
          text-align: center;
          font-size: 1.2rem;
        }
        .price {
          font-size: 1.2rem;
          line-height: 1;
          font-weight: 400;
        }

        .addToCart {
          margin: 2rem 0 0 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .product {
    width: 40%;
    margin: auto;
  }
}

@media (max-width: 421px) {
  .product {
    width: 80%;
    margin: auto;
  }
}
