.newsletter {
  max-height: 40vh;

  background-image: url("https://i.pinimg.com/originals/ef/de/ae/efdeae709ea42996e8413c58b4cf39fb.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .hwzetk {
    text-align: center;
  }

  .iOeItA {
    border-color: none;
    background: transparent;
  }

  .kpFmlz {
    color: black;
    background: rgba(243, 120, 5, 0.336);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    &:hover {
      background: rgba(233, 121, 16, 0.25);
    }
  }

  .hmNbnh {
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .newsletter {
    height: 100%;
    margin-bottom: 0;
    margin-bottom: 20px;
    background-size: auto;
    display: inline-block;
    width: 100%;
  }
}
