.adminToolbar {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: rgba(104, 104, 99, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: auto;
  padding-bottom: 10px;
  margin-top: 3.5rem;
  position: fixed;

  z-index: 100;

  ul,
  li {
    list-style-type: none;
    margin: 0;
  }

  ul {
    float: middle;

    li {
      display: inline-block;

      a {
        font-size: 1rem;

        color: black;
        font-weight: bold;
        padding: 10px;
        transition: all 0.4s ease-in-out;

        &:hover {
          color: white;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
}
