.adminToolbar {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: grey;
  height: auto;
  padding: 10px 120px;
  position: sticky;

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding-left: 3rem;
  }

  ul {
    float: right;

    li {
      display: inline-block;

      a {
        font-size: 1rem;

        color: black;
        font-weight: bold;
        padding: 10px;
        transition: all 0.4s ease-in-out;

        &:hover {
          color: white;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
}
