.image {
  background-image: url("../../assets/main.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  resize: both;
  align-items: center;
}

@media (max-width: 790px) {
  .image {
    height: 60%;
  }
}
